.archiveIssue{
    min-height: 200px;
    .archive{
        padding: 20px 20px 15px 5px;
        color: var(--text);
        img{
            width:100%;
            max-width: 120px;
        }

        a{
            color: inherit;
            display: block;
            text-decoration: none;
            font-weight: 500;
            font-size: 16px;
            .name{
                font-size: 25px;
                font-weight: 600;
            }
            .date{
                padding: 3px 0px 0px 0px;
                font-weight: 600;
                margin-bottom: 10px;
                line-height: 16px;
            }
            .desc{
                line-height: 16px;
                height:32px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover{
                .name{
                    color:#00A67D;
                }
            }
        }
        .chapters{
            margin-top: 5px;
            max-height: 60px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            a{
                display: inline-block;
                white-space: wrap;
                font-size: 15px;
                text-decoration: underline;
                margin-right: 5px;

            }

        }
        p{
            font-size: 14px;
            color: var(--text);
        }
    }


}

@media (max-width:768px){
    .archiveIssue{
        min-height: 200px;
        .archive{
            padding: 0px 0px 0px 0px;
            img{
              max-width: 100px;
            }

            a{
                color: inherit;
                display: block;
                text-decoration: none;
                font-weight: 500;
                font-size: 14px;
                .name{
                    font-size: 18px;
                    font-weight: 600;
                }
                .date{
                    padding: 3px 0px 0px 0px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                .desc{
                    height:32px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                &:hover{
                    .name{
                        color:#00A67D;
                    }
                }
            }
            .chapters{
                margin-top: 5px;
                max-height: 60px;
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                a{
                    display: inline;
                    white-space: wrap;
                    font-size: 15px;
                    text-decoration: underline;
                }

            }
            p{
                font-size: 14px;
                color: var(--text);
            }
        }


    }

}
