.login {
    .container {
        .row {
            .col-md-5 {
                .heading {
                    padding: 10px 0px 10px 13px;
                    h3 {
                        margin: 0;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 40px;
                        color: var(--text);
                    }

                }
                .inputs{
                    .form-group{
                        input{
                            padding: 10px 13px;
                        }
                    }
                }
                .savepassword{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 0px 20px;
                    .left{
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        font-size: 15px;
                        color: var(--text);
                    }
                    .right{
                        font-size: 15px;

                    }
                }
               button{
                border: none;
                border-radius: 4px;
                background-color: #5e9cea;
                padding: 10px 50px;
                font-size: 14px;
                color:white;
               }
            }
        }
    }
}
