.team{
    color: var(--text);
    margin-bottom: 50px;
    .container{
        .title{
            padding: 0px 0px 0px 0px;
            font-size: 30px;
            font-weight: 600;

        }
        .member{
            font-size: 16px;
            .designation{
                margin-bottom: 5px;
                font-size: 18px;
                font-weight: 600;
            }
            .name{
                font-weight: 600;
            }

            .email{
            }
        }

    }
}
