.banner {
    .books {
        .row {
            .bookimage {
                padding: 50px 0px;

                a {
                    img {
                        max-width: 400px;
                        width: 100%;
                    }
                }
            }

            .banner-inner {
                padding: 85px 0;

                h1 {
                    font-size: 30px;
                    margin: 0 0 10px 0px;
                    line-height: 42px;
                    font-weight: 400;
                }

                .description {
                    margin: 0;
                    color: #636C77;
                    font-size: 18px;
                    line-height: 32px;
                    text-align: justify;
                }
            }
        }
    }
}

@media (max-width:768px) {

    .banner {
        .books {
            .row {
                .bookimage {
                    padding: 0px 0px;

                    a {
                        display: block;
                        text-align: center;
                        img {
                            width: auto;
                            max-height:40vh ;
                        }
                    }
                }

                .banner-inner {
                    padding: 15px 0;

                    h1 {
                        font-size: 20px;
                        margin: 0 0 10px 0px;
                        line-height: 25px;
                        font-weight: 500;
                    }

                    .description {
                        margin: 0;
                        font-size: 16px;
                        line-height: 18px;
                        text-align: justify;
                    }
                }
            }
        }

    }

}
