.sidebar {

    padding: 50px 0px 50px 20px;

    .heading {
        padding-left: 0px;
    }

    .sidebar-content {
        padding: 10px 0px 0px 0px;
        // h5{

        // }
        a {
            img {
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}

@media (max-width:788px) {
    .sidebar {
        padding: 50px 0px 50px 0px;

        .heading {
            padding-left: 10px;
        }

        .sidebar-content {
            padding: 0px 15px;
            a{
                padding-bottom: 10px;
            }
        }
    }
}
