.topbar {
    padding: 10px 0px  ;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            .social-icons{
                display: flex;
                align-items: center;
                column-gap: 8px;
                .facebook-icon{
                    color: #3b5999;
                }
                .twitter-icon{
                    color:#55acee ;
                }
                .linkedin-icon{
                    color: #0077b5;
                }
                .google-icon{
                    color:#de645e ;
                }

            }
        }

        .logins {
            .login-area {
                display: flex;
                column-gap: 15px;

                a {
                    text-decoration: none;
                    color: var(--text);
                }
            }
        }

    }


}

header {
    .container {

        .navigation {
            padding: 0px 0px 2px 0px;
            position: relative;

            .row {
                align-items: center;

                .logo {
                    a {
                        text-decoration: none;

                        img {
                            max-width: 100%;
                            width: auto;
                            height: 50px;
                        }
                    }
                }

                .headers {
                    .navbar {
                        ul.navbar-nav {
                            #aboutus {

                                a {
                                    font-size: 16px;
                                    font-weight: 500;
                                }
                            }

                            #dropdown {

                                a {
                                    font-size: 16px;
                                    font-weight: 500;

                                }

                                .dropdown-item {
                                    color: #636c77;
                                }

                                ul {
                                    .side_menu {
                                        display: none;
                                        position: absolute;
                                        top: 42px;
                                        left: 195px;
                                        margin-top: 0;
                                        background-color: white;
                                        z-index: 1;
                                        border: 1px solid #D0D0D0;
                                        border-radius: 2px;
                                        text-align: left;

                                        ul {
                                            list-style: none;
                                            margin: 0;
                                            padding: 10px;

                                            li {
                                                list-style: none;

                                                a {
                                                    text-decoration: none;
                                                    color: var(--text);
                                                }
                                            }
                                        }
                                    }

                                    #login:hover+.side_menu {
                                        display: block;
                                        position: absolute;
                                        top: 42px;
                                        left: 195px;
                                        margin-top: 0;
                                        background-color: white;
                                        z-index: 1;
                                        border: 1px solid #D0D0D0;
                                        border-radius: 2px;
                                        text-align: left;

                                        ul {
                                            list-style: none;
                                            margin: 0;
                                            padding: 10px;

                                            li {
                                                list-style: none;

                                                a {
                                                    text-decoration: none;
                                                    color: var(--text);
                                                }
                                            }
                                        }
                                    }
                                }

                            }
                        }

                        #aboutus:hover {
                            border: 0.5px solid #D4D4D4;
                            border-radius: 6px;
                            background-color: #fff;

                            #aboutus_a {
                                color: #5E9CEA;
                            }
                        }

                        #dropdown:hover {
                            border: 0.5px solid #D4D4D4;
                            background-color: #fff;
                            border-radius: 6px;


                            #navbarDropdown {
                                color: #5E9CEA;
                            }

                        }
                    }
                }
            }
        }


    }
}
