header .container .topbar {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .topbar .social-icons {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
header .container .topbar .social-icons .facebook-icon {
  font-size: 18px;
  color: #3B5999;
}
header .container .topbar .social-icons .twitter-icon {
  font-size: 18px;
  color: #55ACEE;
}
header .container .topbar .social-icons .linkedin-icon {
  font-size: 18px;
  color: #3B5999;
}
header .container .topbar .social-icons .google-icon {
  font-size: 18px;
  color: #DD4B39;
}
header .container .topbar .logins .login-area {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
header .container .topbar .logins .login-area a {
  text-decoration: none;
  color: #7A6696;
}
header .container .navigation {
  position: relative;
}
header .container .navigation .row {
  align-items: center;
}
header .container .navigation .row .logo a {
  text-decoration: none;
}
header .container .navigation .row .logo a img {
  width: 100;
  height: auto;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #aboutus a {
  font-size: 16px;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown a {
  font-size: 16px;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown .dropdown-item {
  color: #636c77;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu {
  display: none;
  position: absolute;
  top: 42px;
  left: 195px;
  margin-top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  text-align: left;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu ul li {
  list-style: none;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu ul li a {
  text-decoration: none;
  color: var(--text);
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu {
  display: block;
  position: absolute;
  top: 42px;
  left: 195px;
  margin-top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  text-align: left;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu ul li {
  list-style: none;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu ul li a {
  text-decoration: none;
  color: var(--text);
}
header .container .navigation .row .headers .navbar #aboutus:hover {
  border: 0.5px solid #D4D4D4;
  border-radius: 6px;
  background-color: #fff;
}
header .container .navigation .row .headers .navbar #aboutus:hover #aboutus_a {
  color: #5E9CEA;
}
header .container .navigation .row .headers .navbar #dropdown:hover {
  border: 0.5px solid #D4D4D4;
  background-color: #fff;
  border-radius: 6px;
}
header .container .navigation .row .headers .navbar #dropdown:hover #navbarDropdown {
  color: #5E9CEA;
}/*# sourceMappingURL=header.css.map */