@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
:root {
  --text: #636C77;
}

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0 40px;
  background-color: #EEEEEE;
}
body .content {
  width: auto;
  margin: 0;
  background-color: #FCFCFC;
}

.topbar {
  padding: 10px 0px;
}
.topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar .container .left .social-icons {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.topbar .container .left .social-icons .facebook-icon {
  color: #3b5999;
}
.topbar .container .left .social-icons .twitter-icon {
  color: #55acee;
}
.topbar .container .left .social-icons .linkedin-icon {
  color: #0077b5;
}
.topbar .container .left .social-icons .google-icon {
  color: #de645e;
}
.topbar .container .logins .login-area {
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.topbar .container .logins .login-area a {
  text-decoration: none;
  color: var(--text);
}

header .container .navigation {
  padding: 0px 0px 2px 0px;
  position: relative;
}
header .container .navigation .row {
  align-items: center;
}
header .container .navigation .row .logo a {
  text-decoration: none;
}
header .container .navigation .row .logo a img {
  max-width: 100%;
  width: auto;
  height: 50px;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #aboutus a {
  font-size: 16px;
  font-weight: 500;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown a {
  font-size: 16px;
  font-weight: 500;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown .dropdown-item {
  color: #636c77;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu {
  display: none;
  position: absolute;
  top: 42px;
  left: 195px;
  margin-top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  text-align: left;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu ul li {
  list-style: none;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul .side_menu ul li a {
  text-decoration: none;
  color: var(--text);
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu {
  display: block;
  position: absolute;
  top: 42px;
  left: 195px;
  margin-top: 0;
  background-color: white;
  z-index: 1;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  text-align: left;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu ul li {
  list-style: none;
}
header .container .navigation .row .headers .navbar ul.navbar-nav #dropdown ul #login:hover + .side_menu ul li a {
  text-decoration: none;
  color: var(--text);
}
header .container .navigation .row .headers .navbar #aboutus:hover {
  border: 0.5px solid #D4D4D4;
  border-radius: 6px;
  background-color: #fff;
}
header .container .navigation .row .headers .navbar #aboutus:hover #aboutus_a {
  color: #5E9CEA;
}
header .container .navigation .row .headers .navbar #dropdown:hover {
  border: 0.5px solid #D4D4D4;
  background-color: #fff;
  border-radius: 6px;
}
header .container .navigation .row .headers .navbar #dropdown:hover #navbarDropdown {
  color: #5E9CEA;
}

.banner .container .books .row .bookimage a img {
  max-width: 400px;
  width: 100%;
}
.banner .container .books .row .banner {
  padding: 85px 0;
}
.banner .container .books .row .banner h1 {
  font-size: 42px;
  margin: 0 0 32px;
  padding: 0 0 22px;
  line-height: 62px;
  font-weight: 400;
}
.banner .container .books .row .banner .description {
  margin: 0;
  color: #636C77;
  font-size: 18px;
  line-height: 32px;
  text-align: justify;
}
.banner .container .books .row .banner .description a {
  text-decoration: none;
}

.article .container .current-issue {
  display: flex;
  flex-direction: column;
  row-gap: 18x;
}
.article .container .current-issue .item {
  color: var(--text);
}
.article .container .current-issue .item strong {
  font-weight: 500px;
}
.article .container .current-issue #other {
  font-size: 18px;
}
.article .container .editorial h5 {
  font-size: 24px;
  color: var(--text);
  text-align: left;
  font-weight: 400;
}
.article .container .data {
  padding: 0px 12px 10px 0px;
}
.article .container .data a {
  text-decoration: none;
  color: var(--text);
}
.article .container .data .head {
  padding: 0 0 10px;
}
.article .container .data .head .authorname {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  color: var(--text);
  font-size: 13px;
  line-height: 13px;
  margin: 0 0 10px 0px;
}
.article .container .data .head h3 {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.article .container .data .head h3 a {
  color: var(--text);
}
.article .container .data .bottom .short_desc p {
  color: var(--text);
}
.article .container .data .bottom .page_no {
  color: var(--text);
}
.article .container .data .bottom button {
  border: none;
  background-color: var(--text);
  padding: 6px 20px;
}
.article .container .data .bottom button i {
  color: white;
}
.article .container .data .bottom button a {
  color: white;
}

footer a {
  text-decoration: none;
}
footer .container .footer-column {
  padding: 20px 0px;
}
footer .container .footer-column .aboutus {
  text-align: center;
}
footer .container .footer-column .aboutus .logo a img {
  max-width: 100%;
  width: auto;
  height: 100px;
}
footer .container .footer-column .aboutus .description {
  width: 100%;
}
footer .container .footer-column .aboutus .description p {
  font-size: 16px;
  color: var(--text);
}
footer .container .footer-column .aboutus .social-icons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
}
footer .container .footer-column .aboutus .social-icons .facebook-icon {
  font-size: 18px;
  color: #3B5999;
}
footer .container .footer-column .aboutus .social-icons .twitter-icon {
  font-size: 18px;
  color: #55ACEE;
}
footer .container .footer-column .aboutus .social-icons .linkedin-icon {
  font-size: 18px;
  color: #3B5999;
}
footer .container .footer-column .aboutus .social-icons .google-icon {
  font-size: 18px;
  color: #DD4B39;
}
footer .container .footer-column .aboutus .social-icons .rss-icon {
  font-size: 18px;
  color: #FF6600;
}
footer .container .footer-column .getintouch {
  text-align: left;
  padding: 10px 0;
  color: var(--text);
}
footer .container .footer-column .getintouch .head {
  padding: 0 0 20px 0;
}
footer .container .footer-column .getintouch a {
  text-decoration: none;
  color: var(--text);
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .container .footer-column .getintouch a .item {
  text-align: left;
}
footer .container .footer-column .getintouch ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 0;
}
footer .container .footer-column .getintouch ul li {
  list-style: none;
  color: var(--text);
  font-size: 16px;
  line-height: 14px;
}
footer .container .footer-column .getintouch ul li i {
  width: 20px;
}
footer .container .footer-column .getintouch ul .address {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .container .footer-column .resource {
  align-items: left;
  padding: 10px 0;
  color: var(--text);
}
footer .container .footer-column .resource .head {
  padding: 0 0 20px 0;
}
footer .container .footer-column .resource .item {
  padding: 0px 0px 0px 20px;
}
footer .container .footer-column .resource .item ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0;
}
footer .container .footer-column .resource .item ul li {
  font-size: 16px;
  line-height: 14px;
  color: var(--text);
}
footer .container .footer-column .resource .item ul li a {
  color: var(--text);
}
footer .container .copyright {
  border-top: 1px solid #ddd;
  padding: 16px 0;
  width: 100%;
  text-align: center;
}

.sidebar {
  padding: 50px 0px 50px 20px;
}
.sidebar .heading {
  border-radius: 4px;
  padding: 10px;
  background-color: #004E84;
}
.sidebar .heading a {
  color: white;
  text-decoration: none;
}
.sidebar .sidebar-content {
  padding: 40px 0px 0px 0px;
}
.sidebar .sidebar-content a img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.inner-banner {
  background-color: #636C77;
}
.inner-banner .container .row .col-md-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.inner-banner .container .row .col-md-12 h1 {
  font-size: 16px;
  margin: 0px;
  color: white;
}
.inner-banner .container .row .col-md-12 .header-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.inner-banner .container .row .col-md-12 .header-link a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
.inner-banner .container .row .col-md-12 .header-link i {
  font-size: 8px;
  color: white;
}/*# sourceMappingURL=index.css.map */