.contact{
    a{
        color:#39628C ;
        text-decoration: none;
        font-weight: 500;
    }
    .container{
        h1{
            font-size: 24px;
            font-weight: 700;
        }
        .row{
            .col-md-12{
                padding: 0px;
                .main-contact{

                }
            }
            .col-md-6{
                padding: 0;
                margin-bottom: 10px;
                .item{
                    color: var(--text);
                    font-size: 16px;
                    h3{
                        font-size: 18px;
                        font-weight: 700;
                    }


                }
            }
        }
    }
}
